<div class="card">  
    <div class="card-header">  
        {{pageTitle}}  
    </div>  
    <div class="card-body">  
        <div class="table-responsive">  
            <table class="table mb-0" *ngIf="weatherForecasts && weatherForecasts.length">  
                <thead>  
                    <tr>  
                        <th>Date</th>  
                        <th>Temp</th>  
                        <th>Summary</th>  
                        
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let weatherForecasts of weatherForecasts">  
                        <td>{{ weatherForecasts.date }}</td>  
                        <td>{{ weatherForecasts.temperatureC }}</td>  
                        <td>{{ weatherForecasts.summary }}</td>  
                    </tr>  
                </tbody>  
            </table>  
        </div>  
    </div>  
</div>  
<div *ngIf="errorMessage" class="alert alert-danger">  
    Error: {{ errorMessage }}  
</div>  